/* Some global styles */
html{
    font-family: 'Barlow', sans-serif;
    background:url('/img/pattern.svg');
    background-size: 150px;
}
body{
    background: rgba(255,255,255,0.9);
    min-height: 100vh;
}
#__next{
    min-height: 100vh;
}